<br>
<body>
    
<footer class="">
        <div class="row text-center text-md-start">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3" >
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary"><strong>Nosotros</strong></h5>
                <hr class="mb-4">
                <p class="part1">
                    Somos una parroquia ubicada en el corazon de la provincia del Oro, nuestra cultura y gastronomia te encantara 
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary"><strong>Visitanos</strong></h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark"> Hoteles </a>
                </p>
                <p>
                    <a href="#" class="text-dark"> Como llegar </a>
                </p>

                <p>
                    <a href="#" class="text-dark"> Consejos</a>
                </p>
               
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary"><strong>Actividades</strong></h5>
                <hr class="mb-4">
               
                <p>
                    <a href="#" class="text-dark"> Arte y Cultura </a>
                </p>

                <p>
                    <a href="#" class="text-dark">Deportes </a>
                </p>
                <p>
                    <a href="#" class="text-dark"> Recorridos </a>
                </p>
            </div>

        

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary"><strong>Contactanos</strong></h5>
                <hr class="mb-4">
                <p>
                    <li class="fas fa-home me-3"> </li> Morales, Ecuador
                </p>
                <p>
                    <li class="fas fa-envelope me-3"> </li> morales.com.ec
                </p>
                <p>
                    <li class="fas fa-phone me-3"> </li> +593992470073
                </p>
                
            
            </div>
            <hr class="mb-4">
            <div class="text-center mb2">
                <p>
                    Copyrigth Todos los derechos reservados
                    <a href="#">
                        <strong class="text-primary"> MORALES</strong>
                    </a>
                </p>
            </div>
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/profile.php?id=61561738920375&is_tour_dismissed" class="text-dark"> <i class="fab fa-facebook"></i></a>

                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"> <i class="fab fa-twitter"></i></a>

                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"> <i class="fab fa-google-plus"></i></a>

                    </li>
                
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"> <i class="fab fa-youtube"></i></a>

                    </li>
                </ul>

            </div>


        </div>

</footer>

</body>
