<body>
    <div class="planeatuvisita">

    <div class="consejos">
        <div class="delmedio">
            <h1><strong>Consejos para turistas</strong></h1>
            <p>Para que disfrutes al máximo tu visita, te ofrecemos algunos consejos útiles que te ayudarán a tener una experiencia inolvidable</p>    
        </div>

        <div class="consejos-grupo">
            <div class="consejo-item">
                <h4>Comodidad</h4>
                <p>Para disfrutar al máximo de tu aventura, te recomendamos usar ropa ligera y cómoda, junto con calzado adecuado para caminar, especialmente si planeas explorar los impresionantes sitios arqueológicos y senderos locales.</p>
            </div>
            <div class="consejo-item">
                <h4>El sol de Morales</h4>
                <p>No olvides protegerte del sol utilizando protector solar y, si es posible, un sombrero o gorra y gafas que te protejan, esto para mantenerte fresco y cómodo durante tus aventuras.</p>
            </div>
            <div class="consejo-item">
                <h4>Hidrátate</h4>
                <p>Mantente bien hidratado bebiendo suficiente agua, especialmente mientras recorres los diversos atractivos de la parroquia.</p>    
            </div>
        </div>

        <div class="consejos-grupo">
            <div class="consejo-item">
                <h4>Relájate, estás seguro</h4>
                <p>La seguridad no es un problema en nuestra parroquia. Durante tus vacaciones, no tendrás que preocuparte por los aspectos de seguridad, solo debes concentrarte en disfrutar al máximo de tu experiencia.</p>    
            </div>
            <div class="consejo-item">
                <h4>Transporte</h4>
                <p>Muchas atracciones y sitios de interés, como los Petrograbados de Nudillo, pueden estar ubicados en áreas de difícil acceso. Por esto, en Portovelo puedes contratar un vehículo 4x4 o, lo más recomendable, una chiva que te lleve a los atractivos.</p>    
            </div>
            <div class="consejo-item">
                <h4>Alojamiento</h4>
                <p>La parroquia no tiene opciones de alojamiento, por lo que, si piensas quedarte más de un día, una excelente alternativa es hospedarse en la ciudad cercana de Portovelo.</p>            
            </div>
        </div>
    </div>
</div>
    <app-footer></app-footer>
</body>
