<body>
  <div id="carouselExampleIndicators" class="carousel slide ">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4 "></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
        aria-label="Slide 5"></button>


    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/cascada.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="assets/img/fiestas.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/lugar7.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/petrograbados.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/lugar8.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="portafolio section-padding">
    <div class="row">
      <!-- Portfolio Card 1 -->
      <div class="col">
        <div class="card text-light text-center bg-white pb-2">
          <div class="card-body text-black">
            <div class="img-area mb-4">
              <img src="assets/img/lugar5.jpeg" class="img-fluid" alt="Project 1" />
            </div>
            <h3>Experiencias</h3>
            <p class="lead">Cada visita es una oportunidad para sumergirse en la rica cultura y
              tradiciones de nuestra comunidad. Desde las vibrantes Fiestas Patronales, donde las calles se llenan de
              música y color.</p>
          </div>
        </div>
      </div>
      <!-- Portfolio Card 2 -->
      <div class="col">
        <div class="card text-light text-center bg-white pb-2">
          <div class="card-body text-black">
            <div class="img-area mb-4">
              <img src="assets/img/lugar3.jpeg" class="img-fluid" alt="Project 2" />
            </div>
            <h3>Sugerencias</h3>
            <p class="lead">Para disfrutar al máximo de tu visita a la parroquia Morales, te sugerimos involucrarte en
              las
              actividades locales. No olvides traer ropa comoda y una cámara para capturar los paisajes y momentos
              inolvidables.</p>
          </div>
        </div>
      </div>
      <!-- Portfolio Card 3 -->
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-white pb-2">
          <div class="card-body text-black">
            <div class="img-area mb-4">
              <img src="assets/img/lugar6.jpeg" class="img-fluid" alt="Project 3" />
            </div>
            <h3><strong>Virtudes</strong></h3>
            <p class="lead">La parroquia Morales se destaca por su hospitalidad, donde cada visitante es recibido con
              los brazos abiertos por una comunidad que valora la calidez y la amabilidad. La solidaridad es un pilar fundamental de nuestra parroquia.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>

</body>
