<body>
    
    <div class="atractivos" *ngIf="id === 'atractivos'">
        <div class="actividades">
            <img src="assets/img/comunidadparroquia.jpeg" alt="">
        </div>
        <div class="culturales">
            <br>
            <br>
            <br>
            <h1><strong><i>Atractivos Culturales</i></strong></h1>
            <h6><i>Cada lugar tiene una historia que contar.</i></h6>
            <br>
            <h1><strong><i>Iglesia de Morales</i></strong></h1>
            <img class="atractivosimg" src="assets/img/lugar6.jpeg" alt="">

            <img class="atractivosimg" src="assets/img/lugar5.jpeg" alt="">
            <p><i>
                    La iglesia de Morales se encuentra en el casco principal de la parroquia, siendo un punto central y
                    significativo para la comunidad local. Este edificio religioso no solo es un lugar de culto, sino
                    también un símbolo de la historia y tradición de Morales.

                </i></p>
            <br>
            <br>
            <br>

        </div>

        <h1><strong><i>Petrograbados de Nudillo</i></strong></h1>
        <div class="petro">

            <p><i>Este fascinante sitio ofrece un clima agradable y destaca por una majestuosa piedra de más de 50
                    metros de altura con una gruta que alberga petrograbados. Aquí podrás descubrir figuras zoomorfas
                    como dantas, llamas, perros, lobos, zorros y culebras, además de representaciones antropomorfas de
                    dos hombres estilizados. El entorno natural, con su densa vegetación, crea un ambiente de belleza y
                    misticismo que te dejará maravillado.</i></p>
            <img class="petroimg" src="assets/img/petrograbados.jpeg" alt="">
        </div>


        <app-footer></app-footer>
    </div>

    <div class="maravillas" *ngIf="id === 'maravillas'">

        <div class="actividades2">
            <img class="actiimg" src="assets/img/mor.jpeg" alt="">
        </div>
        <div class="naturales">
            <br>
            <br>
            <br>
            <h1><strong><i>Maravillas Naturales</i></strong></h1>
            <p><i>Deja que la naturaleza te guíe en una aventura fascinante. Embárcate en un viaje donde cada paso te
                    conecta con la esencia misma del entorno. Explora senderos ocultos que revelan paisajes
                    impresionantes, desde majestuosas montañas hasta tranquilas riberas.</i></p>
                    <br>
                    <br>
                    <br>

        </div>


        <h1><strong><i>Cascada de la Quebrada de Gramalote</i></strong></h1>
        <div class="cascada">
            <img class="maravillasimg" src="assets/img/cascada.jpeg" alt="">
            <p><i>Destaca por sus pequeñas pero impresionantes cascadas, la Quebrada de Gramalote, naciente del majestuoso
                cerro Nudillo. Fluye con gracia y belleza antes de desembocar en el río Luis, ofreciendo un espectáculo
                visual y auditivo que encanta a todos los visitantes. Las cascadas de la Quebrada de Gramalote se
                convierten en un lugar ideal para los amantes de la naturaleza y aquellos que buscan una experiencia
                rejuvenecedora en un entorno natural incomparable.</i></p>
        </div>

        <app-footer></app-footer>
    </div>
</body>