<body>
   
    
    <div class="cultura" *ngIf="id === 'cultura'">  
    <header>
        <div class="header-content container">
            <div class="swiper mySwiper-1">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1>Iglesia</h1>
                                <p>
                                    La iglesia en esta parroquia es un símbolo de la historia y la identidad de la
                                    misma. Situada en el corazón
                                    de la comunidad, esta iglesia no solo es un lugar de culto, sino también un punto de
                                    encuentro espiritual y social para los residentes.
                                </p>
                            </div>
                            <div class="slider-img">
                                <img src="assets/img/lugar5.jpeg" alt="" class="styled-image">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1>Fritada</h1>
                                <p>
                                    La fritada es un plato típico de la gastronomía ecuatoriana, se prepara con carne de
                                    cerdo que se cocina a fuego lento hasta que se vuelve tierna y jugosa, y las
                                    especias le dan un sabor único. El mote, las tortillas de maíz, el aguacate y la
                                    salsa de ají completan el plato y lo hacen aún más delicioso.
                                </p>
                            </div>
                            <div class="slider-img">
                                <img src="assets/img/fritada.jpeg" alt="" class="styled-image">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1>Cafe</h1>
                                <p>
                                    El café en la parroquia Morales es una bebida muy apreciada por los habitantes
                                    locales, el café que se disfruta aquí es seleccionado cuidadosamente para asegurar
                                    una calidad excepcional. Los residentes
                                    valoran su sabor rico y su aroma envolvente, que se convierte en una parte esencial
                                    de su vida diaria.
                                </p>
                            </div>
                            <div class="slider-img">
                                <img src="assets/img/cafe.jpeg" alt="" class="styled-image">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </header>

        <div class="parrafo1">            
            <h1><strong><i>Sumergete en la cultura local</i></strong> </h1>
            <br>
            <p><i>
                    Cada
                    celebración es una ventana a la riqueza cultural y espiritual de la comunidad, donde la historia y
                    las
                    tradiciones se entrelazan con la alegría y la devoción.Ya sea que disfrutes de las festividades
                    religiosas o te deleites con los vibrantes eventos culturales, cada fiesta es una oportunidad para
                    descubrir algo nuevo y emocionante. Únete a nosotros en estas fechas especiales y vive momentos
                    inolvidables que te conectarán con el corazón de la parroquia.

                </i>
            </p>
            <br>
            <br>
            <br>
        </div>

        <h1><i><strong>Fiestas Importantes</strong></i></h1>
        <div class="parrafo2">
            <p><i>Prueba nuevas experiencias y déjate llevar por
                    la diversión que cada rincón de nuestra parroquia tiene para ofrecer.</i></p>

            <img class="fiestaimg" src="assets/img/fiestas.jpeg" alt="">
            <br>
            <br>
            <br>
            <br>
        </div>

        <h1><i><strong>Aniversario de Parroquialización</strong></i></h1>
        <div class="parrafo3">
            <img class="fiestaimg" src="assets/img/lugar8.jpeg" alt="">
            <p><i>
                    Una celebración significativa de la parroquia que combina elementos culturales y religiosos es el
                    aniversario de la parroquialización, celebrado en agosto. Estos eventos culturales, religiosos y
                    cívicos
                    son muy bien recibidos por los habitantes de la parroquia, quienes participan activamente en las
                    actividades programadas.
                </i></p>
            <br>
            <br>
            <br>
        </div>

        <h1><i><strong>Celebración de la Virgen del Perpetuo Socorro</strong></i></h1>
        <div class="parrafo4">
            <p><i>
                    Es la festividad más destacada, se celebra en la última semana de octubre de cada año en honor a la
                    Virgen del Perpetuo Socorro y al Santísimo Sacramento. Además, las festividades de Navidad tienen
                    lugar
                    el 25 de diciembre. Estos eventos incluyen una variedad de actos culturales como comparsas (danzas),
                    la
                    elección de la Reina de la Caña de Azúcar y procesiones religiosas, y se lleva a cabo en octubre.
                </i></p>
            <img class="fiestaimg" src="assets/img/lugar7.jpeg" alt="">

        </div>
        <app-footer></app-footer>
    </div>

    <div class="gastronomia" *ngIf="id === 'gastronomia'">
        
    <header>
        <div class="header-content container">
            <div class="swiper mySwiper-1">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1>Fritada</h1>
                                <p>
                                    La fritada es un plato típico de la gastronomía ecuatoriana, se prepara con carne de
                                    cerdo que se cocina a fuego lento hasta que se vuelve tierna y jugosa, y las
                                    especias le dan un sabor único. El mote, las tortillas de maíz, el aguacate y la
                                    salsa de ají completan el plato y lo hacen aún más delicioso.
                                </p>
                            </div>
                            <div class="slider-img">
                                <img src="assets/img/fritada.jpeg" alt="" class="styled-image">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1>Iglesia</h1>
                                <p>
                                    La iglesia en esta parroquia es un símbolo de la historia y la identidad de la
                                    misma. Situada en el corazón
                                    de la comunidad, esta iglesia no solo es un lugar de culto, sino también un punto de
                                    encuentro espiritual y social para los residentes.
                                </p>
                            </div>
                            <div class="slider-img">
                                <img src="assets/img/lugar5.jpeg" alt="" class="styled-image">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1>Cafe</h1>
                                <p>
                                    El café en la parroquia Morales es una bebida muy apreciada por los habitantes
                                    locales, el café que se disfruta aquí es seleccionado cuidadosamente para asegurar
                                    una calidad excepcional. Los residentes
                                    valoran su sabor rico y su aroma envolvente, que se convierte en una parte esencial
                                    de su vida diaria.
                                </p>
                            </div>
                            <div class="slider-img">
                                <img src="assets/img/cafe.jpeg" alt="" class="styled-image">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </header>

        <div class="button-container fade-in">
            <div class="circle-button">
                <img src="assets/img/fritada.jpeg" alt="Botón 1">
                <p class="button-text">FRITADA</p>
            </div>

            <div class="circle-button">
                <img src="assets/img/humita.jpeg" alt="Botón 2">
                <p class="button-text">HUMITAS</p>
            </div>

            <div class="circle-button">
                <img src="assets/img/tigrillo.jpeg" alt="Botón 3">
                <p class="button-text">TIGRILLO</p>
            </div>

            <div class="circle-button">
                <img src="assets/img/cafe.jpeg" alt="Botón 4">
                <p class="button-text">CAFE</p>
            </div>


        </div>
        <br>

        <section>

            <div class="parrafo1">
                <h1> <strong><i>GASTRONOMIA</i></strong></h1>
                <h2>Barriga llena, corazón contento</h2>
                <br>
                <p> <i>
                        Podrás disfrutar de una variedad de comida típica deliciosa. Estos manjares
                        te
                        dejarán más que satisfecho.
                        Los platos tradicionales te
                        permitirán experimentar una explosión de sabores únicos y auténticos. Cada bocado cuenta una
                        historia,
                        reflejando la rica herencia cultural y gastronómica de la parte alta de El Oro.</i></p>
                <br>
                <br>

            </div>


            <h1><strong><i>Las Humitas</i></strong></h1>
            <div class="humitas">

                <img class="gastroimg" src="assets/img/humita.jpeg" alt="">
                <p><i>
                        Un manjar ecuatoriano con un toque especial en Morales, se preparan con
                        masa
                        de maíz rellena de queso, choclo y a veces ají, envueltas en hojas de maíz y cocidas al vapor
                        para
                        obtener una textura suave y un sabor incomparable.

                    </i></p>
                <br>
                <br>
                <br>

            </div>

            <h1><strong><i>El Tigrillo</i></strong></h1>
            <div class="tigrillo">

                <p><i>Otro plato tradicional de la costa ecuatoriana, se prepara en Morales con
                        plátanos verdes machacados mezclados con queso fresco y huevos, ideal para el desayuno o como
                        guarnición.</i></p>
                <img class="gastroimg" src="assets/img/tigrillo.jpeg" alt="">
            </div>
        </section>
        <section>
            <div>
                <app-footer></app-footer>

            </div>
        </section>

    </div>

</body>
