@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ecfbff;
    font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


.container{
  max-width: 1200px;
  margin: 0 auto;

}


header {
    width: 100%;
    position: relative;
    top: -100px; /* Ajusta este valor para mover el carrusel más arriba o más abajo */
    z-index: 1;
}

.slider{
  display: flex;
  align-items: center;

}

.slider-txt{
  margin-left: 85px;
  width: 50%;
}

.slider-txt h1{
  font-size: 70px;
  color: rgb(5, 5, 5);
  text-transform: uppercase;
  font-weight: 800;
}

.slider-txt p{
  font-size: 18px;
  color: #525252;
}


.slider-img{
  width: 50%;
}

.slider-img img{
  margin-right: 225px;
  width: 550px;
}

.styled-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, filter 0.3s ease;
  border: 2px solid #ccc;
  margin-left: 150px;
}

.header-content{
    margin-top: 200px;
    padding-bottom: 50px;
  
}



.gastroimg {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 15px;
}
/*botones*/
.button-container {
  text-align: center;
}

.circle-button {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

.circle-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
}

.button-text {
  margin-top: 10px; 
  text-align: center;
  color: black;
  font-weight: bold; 
}

.parrafo1 {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.parrafo1 h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.parrafo1 p {
  font-size: 1.4em;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}


.parrafo2 p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}
.parrafo3 p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}
.parrafo4 p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.parrafo2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-left: 250px;
  padding-top: 10px;
  padding-right: 250px;
  padding-bottom: 10px;
}

.parrafo2 h1 {
  margin-right: 20px;
  max-width: 60%;
}


.parrafo2 img.fiestaimg {
  max-width: 35%;
  border-radius: 10px;
}

h1{
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}


.parrafo3 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-left: 250px;
  padding-top: 10px;
  padding-right: 250px;
  padding-bottom: 10px;
}

.parrafo3 h1 {
  margin-right: 20px;
  max-width: 60%;
}


.parrafo3 img.fiestaimg {
  max-width: 35%;
  border-radius: 10px;
}


.parrafo4 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-left: 250px;
  padding-top: 10px;
  padding-right: 250px;
  padding-bottom: 10px;
}

.parrafo4 h1 {
  margin-right: 20px;
  max-width: 60%;
}


.parrafo4 img.fiestaimg {
  max-width: 35%;
  border-radius: 10px;
}


.parrafo3 img.fiestaimg {
  max-width: 35%;
  border-radius: 10px;
}


.parrafo4 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-left: 250px;
  padding-top: 10px;
  padding-right: 250px;
  padding-bottom: 10px;
}

.parrafo4 h1 {
  margin-right: 20px;
  max-width: 60%;
}


.parrafo4 img.fiestaimg {
  max-width: 35%;
  border-radius: 10px;
}

/*GASTRONOMIA*/

.humitas p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.humitas h1{
  margin-right: 20px;
  max-width: 60%;
}

.humitas {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-left: 250px;
  padding-top: 10px;
  padding-right: 250px;
  padding-bottom: 10px;
}


.humitas img.fiestaimg {
  max-width: 35%;
  border-radius: 10px;
}



.tigrillo p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.tigrillo h1{
  margin-right: 20px;
  max-width: 60%;
}

.tigrillo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-left: 250px;
  padding-top: 10px;
  padding-right: 250px;
  padding-bottom: 10px;
}


.tigrillo img.fiestaimg {
  max-width: 35%;
  border-radius: 10px;
}
/* Estilo de hover para los botones circulares */
.circle-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {

.gastronomia {
    position: absolute;
}
.cultura {
  position: absolute;
}
.header-content {
    display: none;
}

  .content {
    margin-top: 60px;
  }


  .parrafo2, .parrafo3, .parrafo4, .humitas, .tigrillo, .parrafo1 {
    flex-direction: column;
    padding: 20px;
    font-size: 10px;
  }

  h2 {
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
  }

  .parrafo2 img, .parrafo3 img, .parrafo4 img, .humitas img, .tigrillo img {
    max-width: 80%;
    margin-bottom: 20px;
    display: none;
  }
    .circle-button {
    width: 150px;
    height: 150px;
  }
}

